
/*this is the nav background color */
.navbar {
    background-color: rgb(15, 81, 119); !important;
}

/*this is the nav link font color */
.nav-item {
    color: white; !important;
}

/*this is the nav brand font color */
.navbar-brand{
  color: white;
}

/*this is the register now button color */
.btn-left {
    background-color: rgb(15, 81, 119); !important;
}

/*this is the speakers button color */
.btn-right {
    background-color: white; !important;
}

.badge {
    background-color: #B2B4CB; !important;
}


.btn-signup {
    background-color: #B2B4CB; !important;
}

.jumbotron {
  background-image: url('../img/croppedsewing.jpg');
  background-size: cover;
}
